@import "bourbon"
@import "neat"

// Config
$light: #FFFCCA;
$color-1: #55E9BC;
$color-2: #11D3BC;
$dark: #537780;

$base-size: 16px;
$base-m: $base-size * 1.5;

// Mixins
@mixin v-center();
  position: relative;
  top: 50%;
  +transform(translateY(-50%));
    
@mixin o()
  &:after
    content: ''
    border: solid $light
    border-radius: 50%
    border-width: rem(16)

    +media($bp-sm)
      border-width: rem(10)
  
    +media($bp-sm-h)
      border-width: rem(10)

    +size(60%)
    +position(absolute, 50% null null 50%)
    +transform(translateY(-50%) translateX(-50%))
    +animation(o .25s)
    
@mixin x()
  &:before        
    content: ''

    background-color: $light

    +size(10% 60%)
    +position(absolute, 50% null null 50%)
    +transform(translateY(-50%) translateX(-50%) rotate(45deg))
    +animation(x .25s)

  &:after
    content: ''

    background-color: $light

    +size(10% 60%)
    +position(absolute, 50% null null 50%)
    +transform(translateY(-50%) translateX(-50%) rotate(-45deg))
    +animation(x .25s)

// Typography
@import url(https://fonts.googleapis.com/css?family=Roboto)
@import url(https://fonts.googleapis.com/css?family=Montserrat)

// Base
body
  background-color: $color-1
  color: $dark
  
  font-size: $base-size
  font-family: 'Roboto', sans-serif
  
  text-align: center
  +user-select(none)

u
  text-decoration: none
  
.wrapper
  position: relative
  height: 100vh

// Grid
$fg-gutter: em(0)
$max-width: rem(480)
$grid-columns: 3

$bp-sm: new-breakpoint(max-width 520px)
$bp-sm-h: new-breakpoint(max-height 620px)
$bp-xs-h: new-breakpoint(max-height 420px)

.container
  +outer-container(rem(500))
    
  +media($bp-sm)
    +outer-container(rem(320))
  
  +media($bp-sm-h)
    +outer-container(rem(320))
  
  +media($bp-xs-h)
    +outer-container(rem(480))

.scores
  +span-columns(3)
  
  +media($bp-xs-h)
    +span-columns(1)
    +v-center
  
  .col
    +span-columns(1)
    
    +media($bp-xs-h)
      +span-columns(3)

.game
  +span-columns(3)
  
  +media($bp-xs-h)
    +span-columns(2)
    
  .row
    +row()

    .col
      +span-columns(1)
    
// Layout
.dialogs
  +position(absolute, 0 null null 0)
  z-index: 99
  
  +size(100%)
    
  .cover
    +position(absolute, 0 null null 0)
    +size(100%)
    background-color: $dark
    opacity: .8
  
  .pick,
  .end
    +v-center()
    padding: rem(15) 0
  
    .msg
      margin-top: 0
      margin-bottom: $base-m
      color: $light
      font-size: 3rem
      
      +media($bp-sm)
        font-size: 2rem
      
      +media($bp-sm-h)
        font-size: 2rem
      
    button
      position: relative
      border: none
      outline: none
      
      background-color: $color-2
      color: $light
      
      font-size: 6rem
      
      +transition(background-color .25s ease)
      
      +size(rem(160))
      margin-right: rem(5)
      
      &:last-child
        margin-right: 0
        
      &:hover
        background-color: shade($color-2, 10%)
      
      &:active
        background-color: $dark
        
      +media($bp-sm)
        +size(rem(100))
        font-size: 4rem
        
      +media($bp-sm-h)
        +size(rem(100))
        font-size: 4rem
      
      &.o
        +o()
        
      &.x
        +x()
        
  .end
    display: none
        
    
// end-dialgos

.container
  +v-center
  z-index: 1
  padding: 0 rem(10)
  
  +media($bp-xs-h)
    height: 100vh

// Game
.game
  min-width: rem(300)
  background-color: $color-2

  +media($bp-sm)
    max-width: rem(300)

  +media($bp-sm-h)
    max-width: rem(300)

  +media($bp-xs-h)
    +v-center

  .row

    &:last-child
      .col
        border-bottom: none

    .col
      +size(rem(160))
      position: relative

      cursor: pointer
      +transition(background-color .25s ease)

      border-bottom: rem(2) solid $color-1
      border-right: rem(2) solid $color-1

      color: $light
      font-size: 8rem

      +media($bp-sm)
        +size(rem(100))

      +media($bp-sm-h)
        +size(rem(100))

      +media($bp-xs-h)
        +size(rem(100))

      &:last-child
        border-right: none

      &:hover
        background-color: shade($color-2, 10%)

      &:active
        background-color: $dark
      
      +keyframes(blink)
        from
          background-color: $dark
        to
          background-color: transparent
      
      &.blink
        +animation(blink .25s 3)

      u
        +position(absolute, 0 null null 0)
        +size(100%)

        &.o
          +o()

          +keyframes(o)
            from
              +size(90%)
            to
              +size(60%)

        &.x
          +keyframes(x)
            from
              +size(15% 90%)
            to
              +size(10% 60%)

          +x()
// end-game

// Scores
.scores
  margin-top: $base-m
  cursor: pointer

  +media($bp-sm)
    max-width: rem(300)

  +media($bp-sm-h)
    max-width: rem(300)

  +media($bp-xs-h)
    max-width: rem(160)
    margin-top: 0
    +v-center

  .col
    +media($bp-xs-h)
      margin-bottom: $base-m

    &:last-child
      +media($bp-xs-h)
        margin-bottom: 0

  h2
    margin-top: 0
    margin-bottom: $base-m / 4

    +media($bp-sm)
      font-size: 1rem

    +media($bp-sm-h)
      font-size: 1rem

    .char
      font-family: 'Montserrat', sans-serif
      color: $light

  u
    font-family: 'Montserrat', sans-serif
    font-size: 3rem
    color: $light

    +media($bp-sm)
      font-size: 2rem

    +media($bp-sm-h)
      font-size: 2rem
// end-scores
          