@import url('https://fonts.googleapis.com/css?family=Titan+One');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Titan One', cursive;
}

:root {
    --backgroundPrimary: #f2f2f2;
    --backgroundSecondary: #441e9e;
    --textPrimary: #f2f2f2;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundPrimary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.wave-top-left {
    width: 20em;
    height: 20em;
    position: absolute;
    left: 0;
    top: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.main-container h1 {
    font-size: 3rem;
    letter-spacing: 0.20em;
    color: var(--backgroundSecondary);
}

.main-container button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    border-radius: 1em;
    letter-spacing: 0.15em;
    color: var(--backgroundSecondary);
    padding: 0.75em 1.5em;
    border: none;
    background-color: transparent;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.main-container button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.75em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--backgroundSecondary);
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.main-container button:hover {
    cursor: pointer;
    color: #F2F2F2;
}

.main-container button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.wave-bottom-right {
    width: 20em;
    height: 20em;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* @media (max-width: 575px and 675px) { */

@media (max-width: 575px) {

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-container h1 {
        font-size: 2.25em;
    }

}