@import url('https://fonts.googleapis.com/css?family=Titan+One');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Titan One', cursive;
}

:root {
    --backgroundPrimary: #f2f2f2;
    --backgroundSecondary: #441e9e;
    --textPrimary: #f2f2f2;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundPrimary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.wave-top-left {
    width: 20em;
    height: 20em;
    position: absolute;
    left: 0;
    top: 0;
}

.home-icon {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0;
    margin-top: 2.5em;
    cursor: pointer;
    transition: 0.5s;
}

.home-icon:hover {
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.level-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.75em;
}

.level-container h1 {
    letter-spacing: 0.20em;
    font-size: 3rem;
    color: var(--backgroundSecondary);
}

.btn-area {
    display: flex;
    flex-direction: row;
    gap: 3.5em;
}

.wave-bottom-right {
    width: 20em;
    height: 20em;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 575px) {

    .home-icon {
        margin-top: 3.75em;
    }

    .btn-area {
        display: flex;
        flex-direction: column;
    }

    .level-container {
        gap: 1em;
    }

    .level-container h1 {
        letter-spacing: 0.20em;
        font-size: 2.5rem;
        color: var(--backgroundSecondary);
    }

}