@import url('https://fonts.googleapis.com/css?family=Titan+One');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

:root {
    /* --accentPrimary: #FCA814; */
    --accentPrimary: #441e9e;
    --backgroundPrimary: #f2f2f2;
    --boxPrimary: #d7caf7;
    --boxSecondary: #ae95ef;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundPrimary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.wave__top__left {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.wave__top__right {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
}

/* ---------------------------------------------------------------------------------------- */

.medium__container {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.back__icon {
    width: 25px;
    height: 25px;
    margin-top: 3.5em;
    margin-left: 3.5em;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.35s;
    cursor: pointer;
}

.back__icon:hover {

    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.display {
    font-size: 1.5rem;
    font-family: 'Titan One', cursive;
    letter-spacing: 0.25em;
    color: #5822d6;
}

.playerX {
    color: #70c1b3;
    font-family: 'Titan One', cursive;

}

.playerO {
    font-family: 'Titan One', cursive;
    color: #f25f5c;
}


.hide {
    display: none;
}

.box__area {
    display: flex;
    align-items: center;
    display: grid;
    flex-direction: row;
    gap: 0.5em;
    z-index: 4;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
}

.box {
    height: 7.5em;
    width: 7.5em;
    border-radius: 1em;
    background-color: var(--boxPrimary);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s;

}

.box:hover {
    background-color: var(--boxSecondary);
}

.reset__button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin-bottom: 5em;
    margin-right: 5em;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: 0.35s;
}

.reset__button:hover {
    -moz-transform: scale(1.5) rotate(-140deg);
    -webkit-transform: scale(1.5) rotate(-140deg);
    -o-transform: scale(1.5) rotate(-140deg);
    -ms-transform: scale(1.5) rotate(-140deg);
    transform: scale(1.5) rotate(-140deg);
}

.endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: black;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    z-index: 5;
    font-size: 2em;
}

/* ---------------------------------------------------------------------------------------- */

.wave__bottom__left {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wave__bottom__right {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* @media (max-width: 825px) and (max-height: 650px) { */
@media (max-width: 825px) {

    body {
        padding: 4.5em;
    }

    .wave__top__left {
        width: 200px;
        height: 200px;
    }

    .wave__top__right {
        width: 200px;
        height: 200px;
    }

    .back__icon {
        margin-top: 2.5em;
        margin-left: 2.5em;
    }


    .medium__container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .box {
        height: 5em;
        width: 5em;
    }



    .reset__button {
        margin-bottom: 2.5em;
        margin-right: 2.5em;
    }

    .wave__bottom__left {
        width: 200px;
        height: 200px;
    }

    .wave__bottom__right {
        width: 200px;
        height: 200px;
    }
}