@import url('https://fonts.googleapis.com/css?family=Titan+One');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Titan One', cursive;
}

:root {
    --backgroundPrimary: #f2f2f2;
    --backgroundSecondary: #441e9e;
    --textPrimary: #f2f2f2;
    --boxPrimary: #d7caf7;
    --boxSecondary: #ae95ef;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    position: relative;
}

.wave-top-left {
    width: 20em;
    height: 20em;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.wave-top-right {
    width: 22.5em;
    height: 22.5em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.back-icon {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2.5em;
    margin-left: 2.5em;
    transition: 0.5s;
    cursor: pointer;
}

.back-icon:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.display {
    color: var(--backgroundSecondary);
    font-size: 2rem;
    letter-spacing: 0.15em;
    text-align: center;
    margin-bottom: 1em;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.box {
    border: 1px solid none;
    background-color: var(--boxPrimary);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.box:hover {
    background-color: var(--boxSecondary);

}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.hide {
    display: none;
}

.announcer {
    position: absolute;
    background-color: var(--backgroundSecondary);
    padding: 1em;
    border-radius: 20px;
    color: var(--textPrimary);
    font-size: 2rem;
    letter-spacing: 0.15em;
}

.reset-button {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 3.5em;
    margin-right: 3.5em;
    transition: 0.5s;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.reset-button:hover {
    -moz-transform: scale(1.5) rotate(-150deg);
    -webkit-transform: scale(1.5) rotate(-150deg);
    -o-transform: scale(1.5) rotate(-150deg);
    -ms-transform: scale(1.5) rotate(-150deg);
    transform: scale(1.5) rotate(-150deg);
}

.wave-bottom-left {
    width: 22.5em;
    height: 22.5em;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.wave-bottom-right {
    width: 20em;
    height: 20em;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 575px) {

    .wave-top-left {
        width: 12.5em;
        height: 12.5em;
    }

    .wave-top-right {
        width: 15em;
        height: 15em;
    }

    .back-icon {
        width: 2em;
        height: 2em;
        margin-top: 2.5em;
        margin-left: 2em;
    }

    /* .display {
        font-size: rem;
    } */

    .container {
        gap: 0.5em;
    }

    .box {
        min-width: 90px;
        min-height: 90px;
    }

    .announcer {
        font-size: 1.5rem;
    }

    .reset-button {
        width: 2.25em;
        height: 2.25em;
        margin-bottom: 3.75em;
        margin-right: 2.75em;
    }

    .wave-bottom-left {
        width: 15em;
        height: 15em;
    }

    .wave-bottom-right {
        width: 12.5em;
        height: 12.5em;
    }
}