@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
    font-family: "Montserrat";
    background: #ccc;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.click {
    display: block;
    height: 80px;
    width: 300px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 150px);
    background: #260016;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
}

.click:focus {
    outline: none;
}

.click:hover {
    background: #3e0024;
}

.click:active {
    background: #1b000f;
}

.message {
    position: absolute;
    top: calc(50% - 140px);
    left: calc(50% - 300px);
    width: 600px;
    height: 280px;
    z-index: 1000;
    background: #fff;
    color: button;
    padding: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.message.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.okay {
    display: block;
    height: 80px;
    width: 300px;
    margin: 40px auto 0;
    background: #e68a6c;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
}

.okay:focus {
    outline: none;
}

.okay:hover {
    background: #e8967b;
}

.okay:active {
    background: #ca4c22;
}